.button {
	background-color: #BC8538;
	border-radius: 10px;
	font-weight: 700;
	font-size: 1.125rem;
	padding: 26px;
	border: none;
	color: #fff;
	cursor: pointer;
    margin: 32px 0px;
}

.button:hover {
	background-color: #BC8538;
}
