.form-container {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 80px 0px;
}

.form-container .form-title {
    font-weight: 400;
}

.form-container form {
    border-radius: 20px;
    margin: 36px 64px;
}