.rank {
	text-align: center;
	padding: 32px 0 64px 0;
}

.rank > .name {
	color: #ffffffce;
	display: inline-block;
	font-size: 1.75rem;
	border-bottom: 4px solid;
	padding-bottom: 8px;
}

.rank > .players {
	display: flex;
	justify-content: space-around;
	margin-top: 32px;
	flex-wrap: wrap;
}

/* Media query */
@media screen and (max-width: 768px) {
	.rank {
		padding-top: 16px;
	}
	.rank > .name {
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 480px) {
	.rank {
		padding-top: 8px;
	}
}
