.rank {
    text-align: center;
    padding: 32px;
    background-color: #D9F7E9;
}

.rank h3 {
    display: inline-block;
    font-size: 2rem;
    border-bottom: 4px solid #57C278;
    padding-bottom: 8px;
}