.player {
	cursor: pointer;
	width: 280px;
	border-radius: 4px;
}

.player > .header {
	border-radius: 10px 10px 0px 0px;
}
.player > .header > img {
	z-index: 99;
	width: 100px;
	border-radius: 50%;
	position: relative;
	bottom: -50px;
}

.player > .footer {
	background-color: rgba(9, 14, 22, 0.5);
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
	border-radius: 0px 0px 10px 10px;
	padding-top: 90px;
	padding-bottom: 40px;
}

.player > .footer > .name {
	font-size: 24px;
	line-height: 22px;
	font-weight: bold;
	margin-bottom: 8px;
}

.player > .footer > .position {
	color: #ffffffce;
	font-size: 16px;
	line-height: 22px;
	padding: 0 16px;
	font-weight: 400;
}
