.player {
	cursor: pointer;
	width: 280px;
	border-radius: 4px;
}

.player > .header {
	border-radius: 10px 10px 0px 0px;
}
.player > .header > img {
	z-index: 99;
	width: 100px;
	border-radius: 50%;
	position: relative;
	bottom: -50px;
}

.player > .footer {
	background-color: rgba(9, 14, 22, 0.5);
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
	border-radius: 0px 0px 10px 10px;
	padding-top: 90px;
	padding-bottom: 40px;
}

.player > .footer > .name {
	font-size: 1.5rem;
	line-height: 22px;
	font-weight: bold;
	margin-bottom: 32px;
}

.player > .footer > .position-icon {
	width: 28px;
	height: 28px;
}

/* Media query */
@media screen and (max-width: 768px) {
	.player {
		width: 160px;
	}
	.player > .header > img {
		width: 60px;
	}
	.player > .footer {
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.player > .footer > .name {
		font-size: 1.25rem;
	}
	.player > .footer > .position-icon {
		width: 22px;
		height: 22px;
	}
}

@media screen and (max-width: 480px) {
	.player {
		width: 100px;
	}
	.player > .header > img {
		width: 30px;
		bottom: -20px;
	}
	.player > .footer {
		padding-top: 12px;
		padding-bottom: 10px;
	}
	.player > .footer > .name {
		font-size: 1rem;
		margin-bottom: 4px;
	}
	.player > .footer > .position {
		font-size: 0.75rem;
	}
	.player > .footer > .position-icon {
		width: 16px;
		height: 16px;
	}
}
