.banner {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner .background-img {
	filter: blur(3px);
	width: 100%;
}

.banner .logo {
	position: absolute;
	width: 25%;
}

/* Media query */
@media screen and (max-width: 768px) {
	.banner .logo {
		width: 40%; /* Ajuste a largura da logo para telas médias */
	}
}
