name: build and deploy to gh-pages

on:  
  push:  
    branches:  
      - main  
  pull_request:  
    branches:  
      - main  
  
jobs:  
  build_and_deploy:  
    runs-on: ubuntu-latest  
  
    strategy:  
      matrix:  
        node-version: [16.x]  
  
    steps:  
    - uses: actions/checkout@v2  
    - name: Use Node.js ${{ matrix.node-version }}  
      uses: actions/setup-node@v2  
      with:  
        node-version: ${{ matrix.node-version }}  
    - name: Install dependencies  
      run: npm ci  
    - name: Build  
      run: npm run build  
    - name: Deploy to GitHub Pages  
      if: github.ref == 'refs/heads/main'  
      uses: peaceiris/actions-gh-pages@v3  
      with:  
        github_token: ${{ secrets.GITHUB_TOKEN }}  
        publish_dir: ./build  